.game-layout {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  // TODO trying to make the board square

  .chess-board {
    width: 100%;
    height: 100vw;

    flex-basis: auto;

  }

  .opponent-tray {
    height: 40px;

    flex-basis: auto;

    background-color: yellow;
  }

  .player-tray {
    height: 40px;

    flex-basis: auto;

    background-color: green;
  }
}
